---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const { post } = Astro.props;
---

<BaseLayout>
  <article>
    <h1>{post.data.title}</h1>
    <p><em>{post.data.pubDate.toDateString()}</em></p>
    <div innerHTML={post.body} />
  </article>
</BaseLayout>

---

export async function getStaticPaths() {
  const posts = await getCollection('en');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

