---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Thoughts, notes and hard-earned experience.",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-citrus max-w-none">
		<h2>What's this all about?</h2>

		<p>
			I'm not interested in what works today. I'm interested in what works for decades.
		</p>

		<p>
			This blog is part notebook, part journal, and part a place where I share things that might be useful to someone – or at least make them stop and think. I want to share things of real value. Things that can make a difference.
		</p>

		<p>
			It's also a record of knowledge and experiences that I've gained the hard way – sometimes because I had no other choice, and sometimes because I deliberately chose paths that didn’t offer instant rewards, but promised greater benefits over time.
		</p>

		<p>
			Not because I enjoy taking the hard road, but because I know it's the one that truly pays off. Maybe not right away – but in the long run, it’s worth it. Persistence and discipline don’t make noise, but they get things done.
		</p>

		<p>
			Anyone can ride a wave of excitement. But not everyone can endure. True strength is in consistency. In repetition. In patience. In showing up and doing the work – even when it feels like nothing's happening.
		</p>

		<p>
			Even after turning forty, I’ve still had physical, mental, and emotional strength – and I want that to last. I want to keep growing, learning, breaking new boundaries – not just now, but in the decades to come. Because this isn’t a phase that ends. It’s a path. And if you take care of it, it can go on for a long time.
		</p>
	</div>
</PageLayout>

