---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('en');
---

<BaseLayout title="Blog – English">
  <h1>📚 English Blog</h1>
  <ul>
    {posts.map(post => (
      <li style="margin-bottom: 1.5rem;">
        <a href={`/blog/${post.slug}`} style="font-weight: bold;">
          {post.data.title}
        </a>
        <div><em>{post.data.pubDate.toDateString()}</em></div>
        {post.data.tags && (
          <div>
            Tags: {post.data.tags.map(tag => (
              <span style="margin-right: 0.5rem;">#{tag}</span>
            ))}
          </div>
        )}
      </li>
    ))}
  </ul>
</BaseLayout>

