---
// src/components/NavBar.astro
---

<nav>
  <a href="/">🏠 Home</a> |
  <a href="/blog">Blog</a> |
  <a href="/pl/blog">Blog PL</a>
  <span style="float: right; margin-left: auto;">
    <a href="/"><img src="/flag_uk.png" alt="English" width="24" style="vertical-align: middle;"/></a>
    <a href="/pl"><img src="/flag_pl.png" alt="Polski" width="24" style="vertical-align: middle; margin-left: 0.5rem;" /></a>
  </span>
</nav>

