---
// src/components/NavBar.astro
---
<nav>
  <a href="/">🏠 Home</a> |
  <a href="/blog">Blog</a> |
  <a href="/pl/blog">Blog PL</a> |
  <a href="/">US</a>
  <a href="/pl" style="margin-left: 0.5rem;">PL</a>
</nav>

