---
import NavBar from '../components/NavBar.astro';
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title || 'Olimp.run'}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <NavBar />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>© 2025 Olimp.run</p>
    </footer>
  </body>
</html>

